.moneyTotal{
    font-weight: 900;
    text-decoration: underline;
}

.inline{
    display: inline;
}

.cut{
    overflow: hidden;
}

.full-size-button{
    width: 100%;
}

.r-align{
    text-align: right;
}
/* Right aligned in desktop-view, "normal"-aligned in mobile view */
@media only screen and (min-width: 992px) {
    .col-lg-r-align{
        text-align: right;
    }
}

.l-align{
    text-align: left;
}
/* Left aligned in desktop-view, "normal"-aligned in mobile view */
@media only screen and (min-width: 992px) {
    .col-lg-l-align{
        text-align: left;
    }
}


.center{
    text-align: center;
}

.word-break{
    word-break: break-word;
    white-space: pre-wrap;
}

.monospace{
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

