.moneySpent, .contractUnpaid{
    color: #AA0000;
}

.lastPaycheckAmount, .contractPaid, .moneyTotal{
    color: #088A29;
}

.moneyTotal{
    font-weight: 900;
    text-decoration: underline;
}

.moneyLeft{
    color: #2E2EFE;
}

.cut{
    overflow:hidden;
}

.full-size-button{
    width: 100%;
}

.r-align{
    text-align: right;
}

.center{
    text-align: center;
}

.word-break{
    word-break: break-word;
}

.monospace{
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

.search{
    height: 3em;
}